# Dependências
node_modules/

# Arquivos de build
dist/
build/
.next/

# Variáveis de ambiente
.env
.env.local

# Logs
*.log

# Arquivos do sistema
.DS_Store
Thumbs.db

# Configurações do VS Code (opcional)
.vscode/